<form #VehForm="ngForm" ><div id="main-div">
    <table id="content">
        <tr><td class="from-group">Vehicle Id</td><td><input type="text" class="form-control" 
            name="vecId" 
            #vecId="ngModel" ngModel 
            required 
            pattern="[0-9]+"/></td></tr>
            <div *ngIf="vecId.touched" style="border: 2px solid;">
                <div *ngIf="vecId.errors?.['required']">
                    <font><b style="color: red;">Vehicle ID required.</b></font>
                </div>
                <div *ngIf="vecId.errors?.['pattern']">
                    <b style="color: red;">Invalid vec Id.</b>
                </div>
            </div>
            
        <tr><td class="from-group">Consumer Name</td><td><input type="text" class="form-control" 
            name="conName" 
            #conName="ngModel" ngModel 
            required pattern="[0-9]+"></td></tr>
            
        <tr><td class="from-group">Consumer Phone</td><td><input type="text" class="form-control" 
            name="conPhone" 
            #conPhone="ngModel" ngModel 
            required 
            pattern="[0-9]+"></td></tr>
        <tr><td class="from-group">Rental Date</td><td><input type="date" class="form-control" 
            name="renDate" 
            #renDate="ngModel" ngModel 
            required ></td></tr>
        <tr><td class="from-group">Vehicle Type</td><td><select id="select" class="form-control" 
            name="vecType" 
            #vecType="ngModel" ngModel 
            required >
            <option value="">Select</option>
            <option value="Two Wheeler">Two Wheeler</option>
            <option value="Four wheeler">Four Wheeler</option>
        </select></td></tr>
    </table>
    <table id="buttons">
        <tr>
            <td><button class="btn btn-success">Save</button></td>
            <td><button class="btn btn-primary">Update</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
            <td><button class="btn btn-primary">Find</button></td>
            <td><button class="btn btn-primary">FindAll</button></td>
            
        </tr>
    </table>
    
</div>
</form>
