<div id="main-div">
    <table id="content">
        <tr><td>Vehicle Id</td><td><input type="text"></td></tr>
        <tr><td>Consumer Name</td><td><input type="text"></td></tr>
        <tr><td>Consumer Phone</td><td><input type="text"></td></tr>
        <tr><td>Rental Date</td><td><input type="date"></td></tr>
        <tr><td>Vehicle Type</td><td><select name="select" ><option value="">Select</option><option value="Two Wheeler">Two Wheeler</option><option value="Four wheeler">Four Wheeler</option></select></td></tr>
    </table>
    <table id="buttons">
        <tr>
            <td><button class="btn btn-success">Save</button></td>
            <td><button class="btn btn-primary">Update</button></td>
            <td><button class="btn btn-primary">Search</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
        </tr>
    </table>
</div>